@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sidebar scrollbar */
.sidebar-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.sidebar-scrollbar::-webkit-scrollbar {
  display: none;
}

/* spinner number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}